<section
  *transloco="let t"
  id="stack"
  class="pixel-section-alt py-24 sm:py-32 px-4 sm:px-8 md:px-20 lg:px-32 xl:px-48 2xl:px-80"
>
  <div class="container mx-auto max-w-7xl">
    <div class="text-center">
      <span class="section-prefix">// 01.</span>
      <h2 class="font-pixel text-xl sm:text-2xl leading-loose" style="color: var(--text-base);">
        {{ t('stack.titlePart1') }}
        <span style="color: var(--accent-primary);">{{ t('stack.titlePart2') }}</span>
      </h2>
      <div class="pixel-divider mt-4"></div>
    </div>

    <div class="mt-16 flex flex-wrap items-center justify-center gap-3">
      <div class="pixel-tag pixel-tag--fav"><i class="devicon-java-plain colored text-xl"></i> JAVA</div>
      <div class="pixel-tag"><i class="devicon-javascript-plain colored text-xl"></i> JAVASCRIPT</div>
      <div class="pixel-tag"><i class="devicon-typescript-plain colored text-xl"></i> TYPESCRIPT</div>
      <div class="pixel-tag"><i class="devicon-python-plain colored text-xl"></i> PYTHON</div>
      <div class="pixel-tag pixel-tag--fav"><i class="devicon-spring-plain colored text-xl"></i> SPRING BOOT</div>
      <div class="pixel-tag"><i class="devicon-angularjs-plain colored text-xl"></i> ANGULAR</div>
      <div class="pixel-tag"><i class="devicon-express-original colored text-xl" style="color: var(--text-base);"></i> EXPRESS.JS</div>
      <div class="pixel-tag"><i class="devicon-html5-plain colored text-xl"></i> HTML5</div>
      <div class="pixel-tag"><i class="devicon-css3-plain colored text-xl"></i> CSS3</div>
      <div class="pixel-tag"><i class="devicon-mysql-plain colored text-xl"></i> MYSQL</div>
      <div class="pixel-tag pixel-tag--fav"><i class="devicon-postgresql-plain colored text-xl"></i> POSTGRESQL</div>
      <div class="pixel-tag"><i class="devicon-mongodb-plain colored text-xl"></i> MONGODB</div>
      <div class="pixel-tag"><i class="devicon-docker-plain colored text-xl"></i> DOCKER</div>
      <div class="pixel-tag"><i class="devicon-git-plain colored text-xl"></i> GIT</div>
      <div class="pixel-tag pixel-tag--fav"><i class="devicon-github-original colored text-xl" style="color: var(--text-base);"></i> GITHUB</div>
      <div class="pixel-tag"><i class="devicon-react-original colored text-xl"></i> REACT</div>
      <div class="pixel-tag">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" style="fill: var(--text-base);">
          <path d="M0 12C0 5.373 5.373 0 12 0s12 5.373 12 12-5.373 12-12 12S0 18.627 0 12zm11.943-4.25c-.39.051-.849.275-1.159.565-.426.401-.644.851-.732 1.509-.018.131-.024 2.006-.018 5.815l.01 5.6.122.254c.271.569.747.987 1.322 1.163.172.053.242.059.632.059s.46-.006.632-.059c.575-.176 1.051-.594 1.322-1.163l.122-.254.01-5.6c.006-3.809 0-5.684-.018-5.815-.185-1.34-1.12-2.148-2.445-2.074zm4.714 4.287c-.357.059-.752.257-1.028.516-.586.556-.756 1.444-.416 2.146.231.474.73.892 1.229 1.027.232.063.67.064.898.002.607-.166 1.063-.583 1.271-1.17.067-.189.08-.273.08-.53 0-.254-.014-.343-.077-.524-.238-.682-.795-1.169-1.479-1.286-.169-.029-.307-.029-.478.012z"/>
        </svg>
        EXPO
      </div>
      <div class="pixel-tag">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" style="fill: #3ECF8E;">
          <path d="M11.9 1.036c-.015-.986-1.26-1.41-1.874-.637L.764 12.05C.111 12.857.619 14.044 1.648 14.044h9.481l.16 8.92c.015.986 1.26 1.41 1.874.637l9.262-11.652c.653-.806.146-1.993-.883-1.993h-9.481l-.16-8.92z"/>
        </svg>
        SUPABASE
      </div>
      <div class="pixel-tag pixel-tag--fav">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" style="fill: #FF6C37;">
          <path d="M23.69.31a.54.54 0 0 0-.51-.12L.49 11.75a.54.54 0 0 0 .1 1l6.2 2.33 2.33 6.2a.54.54 0 0 0 1 .1l11.56-22.69a.54.54 0 0 0-.1-.58zM8.35 14.2l9.42-7.07-6.1 9.9z"/>
        </svg>
        POSTMAN
      </div>
      <div class="pixel-tag pixel-tag--fav">
        <i class="ph ph-brackets-curly text-xl" style="color: #04B97A;"></i>
        APIDOG
      </div>
      <div class="pixel-tag">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" style="fill: #46E3B7;">
          <path d="M12 0L2.24 6v12L12 24l9.76-6V6L12 0zm-6 8l6 3.46L18 8v2.31l-6 3.46-6-3.46V8z"/>
        </svg>
        RENDER
      </div>
      <div class="pixel-tag">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" style="fill: #00C7B7;">
          <path d="M16.5,7.5V0h-9V7.5H0v9h7.5V24h9V16.5H24v-9Z"/>
        </svg>
        NETLIFY
      </div>
      <div class="pixel-tag">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" style="fill: var(--text-base);">
          <path d="M24 22.525H0l12-21.05 12 21.05z"/>
        </svg>
        VERCEL
      </div>
    </div>
  </div>
</section>
