<section *transloco="let t" id="stack" class="bg-black py-24 sm:py-32 section-glow section-glow-b">
  <div class="container mx-auto max-w-7xl px-6 text-center md:text-left">

    <div class="text-center">
      <h2 class="text-4xl font-bold text-slate-100 sm:text-5xl">
        {{ t('stack.titlePart1') }} <span class="text-cyan-400">{{ t('stack.titlePart2') }}</span>
      </h2>
      <div class="mx-auto mt-4 h-1.5 w-24 rounded-full bg-gradient-to-r from-cyan-400 to-fuchsia-500"></div>
    </div>

    <div class="mt-16 flex flex-wrap items-center justify-center gap-4">

      <div class="flex items-center gap-x-3 rounded-md bg-orange-500 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-java-plain text-2xl"></i>
        <span class="font-bold text-white">JAVA</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-yellow-400 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-javascript-plain text-2xl"></i>
        <span class="font-bold text-black">JAVASCRIPT</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-blue-600 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-typescript-plain text-2xl"></i>
        <span class="font-bold text-white">TYPESCRIPT</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-blue-400 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-python-plain text-2xl"></i>
        <span class="font-bold text-white">PYTHON</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-green-500 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-spring-plain text-2xl"></i>
        <span class="font-bold text-white">SPRING BOOT</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-red-600 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-angularjs-plain text-2xl"></i>
        <span class="font-bold text-white">ANGULAR</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-gray-800 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-express-original colored text-2xl"></i>
        <span class="font-bold text-white">EXPRESS.JS</span>
      </div>
      
      <div class="flex items-center gap-x-3 rounded-md bg-orange-600 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-html5-plain text-2xl"></i>
        <span class="font-bold text-white">HTML5</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-blue-500 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-css3-plain text-2xl"></i>
        <span class="font-bold text-white">CSS3</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-sky-700 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-mysql-plain text-2xl"></i>
        <span class="font-bold text-white">MYSQL</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-blue-800 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-postgresql-plain text-2xl"></i>
        <span class="font-bold text-white">POSTGRESQL</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-green-600 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-mongodb-plain text-2xl"></i>
        <span class="font-bold text-white">MONGODB</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-sky-500 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-docker-plain text-2xl"></i>
        <span class="font-bold text-white">DOCKER</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-orange-700 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-git-plain text-2xl"></i>
        <span class="font-bold text-white">GIT</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-gray-800 px-4 py-2 transition-transform hover:-translate-y-1">
        <i class="devicon-github-original colored text-2xl"></i>
        <span class="font-bold text-white">GITHUB</span>
      </div>

      <div class="flex items-center gap-x-3 rounded-md bg-orange-600 px-4 py-2 transition-transform hover:-translate-y-1">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 fill-current text-white"><path d="M23.69.31a.54.54 0 0 0-.51-.12L.49 11.75a.54.54 0 0 0 .1 1l6.2 2.33 2.33 6.2a.54.54 0 0 0 1 .1l11.56-22.69a.54.54 0 0 0-.1-.58zM8.35 14.2l9.42-7.07-6.1 9.9z"></path></svg>
        <span class="font-bold text-white">POSTMAN</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-teal-400 px-4 py-2 transition-transform hover:-translate-y-1">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 fill-current text-black"><path d="M12 0L2.24 6v12L12 24l9.76-6V6L12 0zm-6 8l6 3.46L18 8v2.31l-6 3.46-6-3.46V8z"></path></svg>
        <span class="font-bold text-black">RENDER</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-teal-500 px-4 py-2 transition-transform hover:-translate-y-1">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 fill-current text-white"><path d="M16.5,7.5V0h-9V7.5H0v9h7.5V24h9V16.5H24v-9Z"></path></svg>
        <span class="font-bold text-white">NETLIFY</span>
      </div>
      <div class="flex items-center gap-x-3 rounded-md bg-gray-800 px-4 py-2 transition-transform hover:-translate-y-1">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 fill-current text-white"><path d="M24 22.525H0l12-21.05 12 21.05z"></path></svg>
        <span class="font-bold text-white">VERCEL</span>
      </div>

    </div>
  </div>
</section>