<section
  *transloco="let t"
  id="stack"
  class="pixel-section-alt py-24 sm:py-32 px-4 sm:px-8 md:px-20 lg:px-32 xl:px-48 2xl:px-80"
>
  <div class="container mx-auto max-w-7xl">
    <div class="text-center">
      <span class="section-prefix">// 01.</span>
      <h2 class="font-pixel text-xl sm:text-2xl leading-loose" style="color: var(--text-base);">
        {{ t('stack.titlePart1') }}
        <span style="color: var(--accent-primary);">{{ t('stack.titlePart2') }}</span>
      </h2>
      <div class="pixel-divider mt-4"></div>
    </div>

    <div class="mt-16 flex flex-wrap items-center justify-center gap-3">
      <div class="pixel-tag"><i class="devicon-java-plain text-xl"></i> JAVA</div>
      <div class="pixel-tag"><i class="devicon-javascript-plain text-xl"></i> JAVASCRIPT</div>
      <div class="pixel-tag"><i class="devicon-typescript-plain text-xl"></i> TYPESCRIPT</div>
      <div class="pixel-tag"><i class="devicon-python-plain text-xl"></i> PYTHON</div>
      <div class="pixel-tag"><i class="devicon-spring-plain text-xl"></i> SPRING BOOT</div>
      <div class="pixel-tag"><i class="devicon-angularjs-plain text-xl"></i> ANGULAR</div>
      <div class="pixel-tag"><i class="devicon-express-original text-xl"></i> EXPRESS.JS</div>
      <div class="pixel-tag"><i class="devicon-html5-plain text-xl"></i> HTML5</div>
      <div class="pixel-tag"><i class="devicon-css3-plain text-xl"></i> CSS3</div>
      <div class="pixel-tag"><i class="devicon-mysql-plain text-xl"></i> MYSQL</div>
      <div class="pixel-tag"><i class="devicon-postgresql-plain text-xl"></i> POSTGRESQL</div>
      <div class="pixel-tag"><i class="devicon-mongodb-plain text-xl"></i> MONGODB</div>
      <div class="pixel-tag"><i class="devicon-docker-plain text-xl"></i> DOCKER</div>
      <div class="pixel-tag"><i class="devicon-git-plain text-xl"></i> GIT</div>
      <div class="pixel-tag"><i class="devicon-github-original text-xl"></i> GITHUB</div>
      <div class="pixel-tag">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-current">
          <path d="M23.69.31a.54.54 0 0 0-.51-.12L.49 11.75a.54.54 0 0 0 .1 1l6.2 2.33 2.33 6.2a.54.54 0 0 0 1 .1l11.56-22.69a.54.54 0 0 0-.1-.58zM8.35 14.2l9.42-7.07-6.1 9.9z"/>
        </svg>
        POSTMAN
      </div>
      <div class="pixel-tag">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-current">
          <path d="M12 0L2.24 6v12L12 24l9.76-6V6L12 0zm-6 8l6 3.46L18 8v2.31l-6 3.46-6-3.46V8z"/>
        </svg>
        RENDER
      </div>
      <div class="pixel-tag">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-current">
          <path d="M16.5,7.5V0h-9V7.5H0v9h7.5V24h9V16.5H24v-9Z"/>
        </svg>
        NETLIFY
      </div>
      <div class="pixel-tag">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-current">
          <path d="M24 22.525H0l12-21.05 12 21.05z"/>
        </svg>
        VERCEL
      </div>
    </div>
  </div>
</section>
